
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head runat="server">
    <meta name="viewport" content="width=device-width" />
    @RenderSection("Head", false)
    <title>@ViewBag.Title - Simple Blog</title>
</head>
<body>
    @{ 
        SqlCommand cmd = new SqlCommand();
    }
    <header>
        <h1>
            <img src="http://www.trakya.edu.tr/admin/tools/theme/www_v2/images/logo/tr/logo.png" />
            <a href="@Url.RouteUrl("Home")">Simple Blog</a>
        </h1>
        <a href="@Url.RouteUrl("Login")">Login</a>
    </header>
    @RenderBody()
    <form method="post">
        <input type="text" name="Username" />
        <input type="password" name="Password" />
        <input type="submit" />
    </form>
    <footer>
        This page is under construction now ! <br />
        &copy; @DateTime.Now.Year
    </footer>
    @RenderSection("Scripts", false)
    
</body>
</html>
